{%extends 'home.html' %}

{%block home%}
<section class="blogs" id="blogs">

    <h1 class="heading"> Ordering by date  <span>accending</span> </h1>

    <div class="box-container">
        {% for event in object_list %}

        <div class="box" > 
            <a href="{%url 'free_event_details_page' event.pk%}">

            <img src="{{event.header_images.url}}" alt="">
            <div class="content">
                <div class="icons">
                    <p>{{event.event_name}} </p>
                </div>
                <div class="icons">
                   <p><i class="fas fa-calendar"></i>Date <i>{{event.event_date}}</i> </p>
                </div>
                {%if event.price%}
                <div class="icons">
                    <p><i class="fas fa-money-check"></i>Fee <i>N5000</i> </p>
                 </div>
                 {%else%}
                 <div class="icons">
                    <p><i class="fas fa-money-check"></i> Fee:- <span style="color: green; font: 1em sans-serif;;">FREE</span> </p>
                 </div>
                 {%endif%}

                 {%if not event.expired_event%}
                    <h3>View Event Details</h3>
                 {%else%}
                    <h3 style="color:red;" >Event Has EXPIRED</h3>
                {%endif%}
                
            </div>
            </a>
        </div>
        {%endfor%}

    </div>

    <div class="next_btn">
        <button class="p_btn"><i class="fa fa-arrow-left">Previous Page</i></button> 
        <button class="n_btn"> <i class="fa fa-arrow-right">Next Page</i></button> 

    </div>

</section>
{%endblock%}